<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item sidebar-category">
      <p>Pages</p>
      <span></span>
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link" href="#">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">Talabalar</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/rooms" class="nav-link" href="#">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Xonalar</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/setting" class="nav-link" href="#">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Sozlash</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/admins" class="nav-link" href="#">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Adminlar</span>
      </a>
    </li>
    <li class="nav-item">
      <form action="/admin/logout" method="post">
        <button class="btn btn-danger nav-link ml-4 mt-3">
          <i class="mdi mdi-logout text-light"></i>
          Logout
        </button>
      </form>

    </li>
  </ul>
</nav>